{
    "semi": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.jsx",
            "options": {
                "semi": false,
                "jsxSingleQuote": true,
                "bracketSameLine": true
            }
        }
    ],
    "plugins": ["prettier-plugin-tailwindcss"]
}
